body {
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-image: url("background_6.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position-y: center;
}
* {
  box-sizing: border-box;
}

#app {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas:
    "head head head"
    "zip  feelings button"
    "UI  UI  UI";
  /* grid-template-columns:  */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.25fr 0.4fr 0.7fr;
  height: 100vh;
  /*background: #f23557;*/
  color: #000000;
  justify-items: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.holder {
}
.feel {
  grid-area: feelings button;
}
.zip {
  grid-area: zip;
}

.entry {
  grid-area: UI;
}

#entryHolder {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#date {
  width: max-content;
  height: inherit;
  margin: 5px;
  background-color: #22b2da;
  border-radius: 10px;
}

#temp {
  width: max-content;
  min-height: 100px;
  margin: 5px;
  background-color: #22b2da;
  border-radius: 10px;
}

#content {
  width: max-content;
  height: inherit;
  margin: 5px;
  background-color: #22b2da;
  border-radius: 10px;
}

.headline {
  color: black;
  font-size: large;
  text-align: center;
  border: none;
  border-radius: 10px;
  justify-self: center;
  padding: 2px;
  padding-top: 2px;
  grid-area: head;
}
.title {
  display: block;
  font-size: 24px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #22b2da;
  color: black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 10px;
}

button {
  width: 300px;
  height: 100px;
  background-color: darkcyan;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
  padding: 3px;
  border-radius: 5px;
}

textarea {
  color: black;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border-radius: 10px;
  border: none;
  background-color: #22b2da;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
/*textarea:focus,*/
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
